.App {
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
}

body {
    background-color: bisque;
}


.sidebar {
  position: absolute;
  height: 100%;
  width: 15%;
  left: 0;
  top: 0;
  background-color: coral;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

li {
  list-style: none;
  padding: 10px;
}

.grid {
  width: 85%;
  height: 40%;
  display: flex;
  align-items: right;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.visitors {
  width: 85%;
  display: flex;
  align-items: center;
    flex-flow: column;
  height: 60%;
    width: 85%;
}

.gridItem {
    width:420px;
    height: 270px;
    display: flex;
    flex-flow: column;
    align-items: center;
    border: dotted 1.5px grey;
    
}

h5 {
    font-size: 25px;
}